<h1>Bienvenue sur Dealgames ! Confirmez votre mail pour continuer.</h1>

<p>
    Cliquez sur ce lien pour valider votre compte.: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon compte</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne journée !
</p>
