
{# Système d'alerte global, a importer dès que nécessaire. #}

{% for message in app.flashes('success') %}
	<div class="alert alert-success">
		{{ message }}
	</div>

{% endfor %}
{% for message in app.flashes('danger') %}
	<div class="alert alert-danger">
		{{ message }}
	</div>

{% endfor %}
{% for message in app.flashes('warning') %}
	<div class="alert alert-warning">
		{{ message }}
	</div>

{% endfor %}
	<script>
		let alert = document.querySelector(".alert");
        alert.addEventListener("click", function () {
        alert.classList.add("alert-removed")
        });
	</script>